html
    head
        title="ChuChu TV Game"
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
        link(href='../public/css/chuchu.css', rel='stylesheet')
    body
        div.container
            div.row
                div(class="container-fluid headerimage",style="padding:0 !important")
                    div(class="col-lg-12 col-md-12 col-xs-12",style="padding:0 !important")
                        img(src="../public/images/pantallaPrincipal.png", alt="placeholder 960", class="img-responsive")
            
            div.row
                br
            
            div.row
                div.col-lg-5.col-xs-4.col-md-5
                
                div.col-lg-2.col-xs-3.col-md-2
                    a(class="btn btn-warning" href="/actividadjuego" role="button")
                        img(src="../public/images/botonactividad.png", alt="", class="img-thumbnail", width="100px")
                div.col-lg-5.col-xs-4.col-md-5
            
            div.row
                br
                br

            div.row
                div.col-lg-6.col-xs-12.col-md-12
                    h3="Descripción"
                    p=capituloInfo.descripcion
                
                div.col-lg-6.col-xs-12.col-md-12
                    h3="Creditos"
                    p=capituloInfo.creditos