html
    head
        title="CAP LIST"
    body
        h1='Lista de Capitulo'
        table
            for capitulo in capList
                tr
                    td=capitulo.titulo
                    td=capitulo.imgcapitulo
                    td=capitulo.descripcion
                    td=capitulo.creditos
                    